:root {
  /* font-size: 16px; */
  /* font-size: calc(15px + 1vw); */
  font-size: calc(3.89vw + 2.5px);
  /* 16px at 360px VW */
  /* ======== Brand Vars ======== */
  /* ==-- Fonts --== */
  /* Import Link and  Available Fonts*/
  /* 
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&family=Roboto&display=swap" rel="stylesheet"> 
  */
  --brand_fontFamily-title: "Oswald", sans-serif;
  --brand_fontWeight-title-main: 500;
  --brand_fontFamily-body: "Roboto", sans-serif;
  --brand_fontWeight-body-main: 400;
  --brand_fontFamily-accent: "Montserrat", sans-serif;
  --brand_fontWeight-accent-main: 400;
  /* ==-- Colors --== */
  /* Colors have a switchable for dark mode compatibility */
  --brand_color-lightShade1-switchable: #F2ECE7;
  --brand_color-lightShade1: #F2ECE7;
  /* Light shades
  Use this color as the background for your dark-on-light designs,
  or the text color of an inverted design. */
  --brand_color-lightAccent1-switchable: #EFAF5E;
  --brand_color-lightAccent1: #EFAF5E;
  /* Light accent
  Accent colors can be used to bring attention to design elements 
  by contrasting with the rest of the palette. */
  --brand_color-main2: #2AA187;
  --brand_color-accent3: #6FCF97;
  --brand_color-main1-switchable: #ED6C25;
  --brand_color-main1: #ED6C25;
  /* Main brand color
  This color should be eye-catching but not harsh.
  It can be liberally applied to your layout as its main identity. */
  --brand_color-darkAccent1-switchable: #99312A;
  --brand_color-darkAccent1: #99312A;
  /* Dark accent
  Another accent color to consider.
  Not all colors have to be used - sometimes a simple color scheme works best. */
  /* --brand_color-darkShade1-switchable: #392E42; */
  --brand_color-darkShade1-switchable: #220d20;
  --brand_color-darkShade1: #220d20;
  /* Dark shades
  Use as the text color for dark-on-light designs, 
  or as the background for inverted designs. */
  /* ======== Globals ======== */
  /* ==-- Fonts --== */
  --global_fontSize-body-xsmall: .6rem;
  --global_fontSize-body-small: .75rem;
  --global_fontSize-body-medium: 1rem;
  --global_fontSize-body-large: 1.2rem;
  --global_fontSize-body-xlarge: 1.35rem;
  --global_fontSize-title-xsmall: 1.4rem;
  --global_fontSize-title-small: 1.6rem;
  --global_fontSize-title-medium: 1.8rem;
  --global_fontSize-title-large: 2.5rem;
  --global_fontSize-title-xlarge: 2.5rem;
  /* ==-- Spacing --== */
  --global_spacing-smaller: .3rem;
  /* smaller spacing is best for a small, subtle nudge on something */
  --global_spacing-small: .6rem;
  /* small spacing is for good for spacing under a small h tag (h3-ish) */
  --global_spacing-medium: 1.2rem;
  /* medium spacing is your go to for most padding and margins */
  --global_spacing-large: 2rem;
  /* large spacing are more for vertical spacing(margin) from block to block or large titles */
  --global_spacing-larger: 2.6rem;
  /* larger spacing are more for vertical spacing(margin) from section to section */
  /* --global_spacing-owl: var(--global_spacing-medium); */
  --global_spacing-owl: 1.3em;
  /* Lobotomized owl spacing for easy dynamic margin-top */
  /* ==-- Colors --== */
  --global_color-sucess: #2d2;
  --global_color-warning: #d62;
  --global_color-danger: #d22;
  --global_color-white1: #eee;
  --global_color-lightGray1: #ccc;
  --global_color-midLightGray1: #aaa;
  --global_color-gray1: #888;
  --global_color-midDarkGray1: #666;
  --global_color-darkGray1: #444;
  --global_color-black1: #111;
  /* ==-- Timing --== */
  --global_timing-transitionDuration-small: .4s;
  --global_timing-transitionDuration-medium: 0.9s;
  --global_timing-transitionDuration-large: 1.4s;
}

body.darkMode-active {
  /* reverse the dark and light colors */
  --brand_color-lightShade1-switchable: var(--brand_color-darkShade1-switchable);
  --brand_color-lightAccent1: var(--brand_color-darkAccent1-switchable);
  --brand_color-darkAccent1: var(--brand_color-lightAccent1-switchable);
  --brand_color-darkShade1: var(--brand_color-lightShade1-switchable);
}

.sc {
  color: var(--brand_color-main1);
}

.header1_container a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.header1_container {
  width: 100vw;
  height: var(--header1_mainHeight);
  position: relative;
}

.header1_sharpSide,
.header1_sharpSide-bg,
.header1_sharpSide-bg1,
.header1_sharpSide-bg2,
.header1_sharpSide-content,
.header1_curvedSide,
.header1_curvedSide-bg,
.header1_curvedSide-bg1,
.header1_curvedSide-bg2,
.header1_curvedSide-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 140vw;
  height: 100vh;
}

.header1_sharpSide,
.header1_curvedSide {
  width: 100vw;
}

.header1_sharpSide-bgContainer,
.header1_curvedSide-bgContainer,
.header1_sharpSide-bg,
.header1_curvedSide-bg {
  height: 45vh;
}

.header1_sharpSide-bgContainer,
.header1_curvedSide-bgContainer {
  position: relative;
  overflow: hidden;
}

.header1_sharpSide-bg,
.header1_curvedSide-bg {
  top: unset;
  bottom: 90%;
  right: -10%;
  transform-origin: bottom right;
  transform: rotate(-15deg);
}

.header1_sharpSide-content,
.header1_curvedSide-content {
  min-height: calc(var(--header1_minHeight) * 0.8);
  height: calc(var(--header1_mainHeight) * 0.8);
}

.header1_sharpSide-bgContainer {
  z-index: 2;
}

.header1_sharpSide-bg1 {
  background-color: var(--brand_color-main1);
  top: unset;
  bottom: 0;
}

.header1_sharpSide-bg2 {
  background-image: linear-gradient(#763B63, #220D20);
  top: unset;
  bottom: var(--header1_border-offset);
}

.header1_sharpSide-content {
  width: 100vw;
  padding-top: 11px;
  z-index: 3;
}

.header1_sharpSide-mainLink,
.header1_curvedSide-mainLink {
  display: inline-block;
}

.header1_sharpSide-mainLink {
  margin: 1vh 0 0 3vw;
  color: var(--brand_color-accent2);
  vertical-align: top;
}

.header1_sharpSide-content img {
  padding: 0 11px;
  max-height: 100%;
}

.header1_curvedSide {
  margin-top: var(--header1_border-offset);
}

.header1_curvedSide-bgContainer {
  z-index: 1;
}

.header1_curvedSide-bg {
  right: -80%;
}

.header1_curvedSide-bg1 {
  background-color: var(--brand_color-accent2);
  border-radius: calc(var(--header1_minRadius) + var(--header1_border-offset));
  top: unset;
  right: 0px;
  bottom: 0;
  z-index: 1;
}

.header1_curvedSide-bg2 {
  background-color: var(--brand_color-accent3);
  border-radius: var(--header1_minRadius);
  top: unset;
  bottom: var(--header1_border-offset);
  right: calc(var(--header1_border-offset) * -1);
  z-index: 2;
}

.header1_curvedSide-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  padding-right: 8vw;
  margin-top: var(--header1_border-offset);
  z-index: 3;
  transform-origin: bottom right;
  transform: rotate(-15deg);
  text-align: right;
}

.header1_curvedSide-mainLink {
  color: var(--brand_color-main1);
}

.button {
  padding: var(--global_spacing-small) var(--global_spacing-medium);
  color: #2AA187;
}

/*# sourceMappingURL=main.css.map */
